
/* li{
    display: inline-block;
    text-decoration: none;
    color: black;
}
#h1,li:first-child{
    margin-left: 0%;
}
#hi,li{
   
} */
.navbar {
  background-color: #f8f8f8;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: left;
}

/* .header .text-container h1 {
  margin: 0;
  font-size: 28px;
  color: #333;
} */
.text-container {
  height: 10vh;
  width: 10vw;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
}

.text-container h1{
  margin: 0;
  font-size: 43px;
  color: rgba(225,225,225, .01);
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}


  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}
  
  h2{
    border-bottom: 1px solid rgb(107, 104, 104);
    padding: 10px;
  }
  #search-box{
    /* margin-left: 800px; */
    /* margin-right: 0px; */
    position: relative;
    float: right;
    padding: 10px;
    width: 15%;
    border-radius: 50px;
    text-align: left;
    border: 0.5px solid rgb(81, 81, 81);
    margin-top: 10px;
    margin-right: 0px;


  }

  #search-box:hover{
    border: 1px solid orangered;
    background-color: rgb(213, 232, 237);
  }
  
  aside{
    margin-top: 80px;
    float: left;
    border: 1px solid grey;
    padding: 15px;
    text-align: left;
    
    /* display: block; */
    /* vertical-align: top; *//* ---> dont know what this does*/
    margin-left: 10px;
    margin-right: -10px;
    position: relative;
    background-color:#e6e3e3;
    border-radius: 10px;
    /* z-index: 1; */
  }
  aside h3{
    text-align: left;
    font-size:x-large;
    font-family: sans-serif;
  }
  aside h4{
    text-align: left;
    font-size: x-large;
    font-family: sans-serif;
  }
  aside li{
    
    line-height: 3em;
    list-style: none;
    border-bottom: 1px solid black;
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 1rem;
  }
  aside label{
    font-size: 18px;
  }
  input[type="checkbox"]{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    /* background-color: rgb(0, 179, 255); */
    /* color: rgb(0, 179, 255); */
   }  


  .fcontainer{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    
    /* animation: fcontainer 20s linear 1s 1 alternate ;    */
  }
  
  .fitem{
    
    /* background-color: red; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px; 
    width: 200px;
    height: 200px;
    
    transition: all 0.5s ease-in-out;
  }
  .fitem:hover{
    transform: scale(1.1);
  }
  .fitem img{
    width: 100%;
    height: 90%;
    
    
  }
  .fitem p{
    text-align: center;
  }
  #2{
    width: 5px;
    height: 5px;
  }


/* /////////////////////////////////////RESPONSIVENESS TEST-->600px/////////////////////////////////////////////// */
  @media screen and (max-width: 600px){
    .topnav a:not(:first-child){
      float:right;
      display: inline-flex;
      font-size: auto;
      margin-left: 5px;
    }
      .navbar {
        background-color: #f8f8f8;
        overflow: hidden;
        display: block;
        justify-content: flex-end;
      }
      .header {
        background-color: #f8f8f8;
        padding: 20px;
        text-align: left;
        width: auto; 
      }
      .head-resp{
        font-size: 2px;
      }
    }
  
  @media screen and (max-width: 600px){
    aside{
      width: auto;
      height: auto;

    }
    aside h3{
      font-size: 20px;
    }
     ul li{
      display: inline-block;
      justify-content: flex-start;
      font-size: 12px;
    }

    form label{
      font-size: 13px;
    }
    form{
      display: flex;
      align-items:start;
      /* justify-content: space-around; */
      /* width: 100%; */
      
    } 
    
    .fcontainer{
      display: inline-flex;
      position: relative;
      flex-wrap: wrap;
    }
    .fitem{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 5px; 
    padding-bottom: 10px;
    margin: 20px; 
    width: 150px;
    height: 150px;
    margin-left: 20px;
    
    transition: all 0.5s ease-in-out;
    
  }
  .fitem p{
    font-size: 10px;
  }

  .fitem img{
    width: 100%;
    height: 90%;
  }
  h2{
    padding-top: 10
    
    
    
    0px;
    margin: 20px;
    /* text-align: center; */
    /* display: flex;
    justify-content: flex-start; */
    font-size: 10px;
  }
}

/* ///////////////////////////////////////////RESPONSIVENESS TEST -->390px/////////////////////////////////////////////// */

@media screen and(max-width: 390px){

  .fcontainer{
    display: inline;
    position: relative;
    flex-wrap: wrap;
  }
  .fitem{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 5px; 
  padding-bottom: 10px;
  margin: 5px; 
  width: 100px;
  height: 100px;
  margin-left: 1px;
  
  transition: all 0.5s ease-in-out;
  
}
.fitem p{
  font-size: 10px;
}

.fitem img{
  width: 100%;
  height: 90%;
}
h2{
  padding: 30px;
  margin: 20px;
  /* margin-top: 5000px; */
  /* text-align: center; */
  /* display: flex; */
  /* align-self:; */
}
}

  
