body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .navbar {
    background-color: #f8f8f8;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }

  .navbar a {
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

  .header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: left;
  }

  /* .header .text-container h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
  } */


  .text-container {
    height: 10vh;
    width: 10vw;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
  }
  
  .text-container h1{
    margin: 0;
    font-size: 43px;
    color: rgba(225,225,225, .01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }

  #welc{
    font-family: sans-serif;
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
  }

  .start{
    font-family: sans-serif;
    margin-left: 20px;
    line-height: 2;
  }
  /* CSS for card carousel */
  .c-c-cont {
    position: relative;
    overflow: hidden;
    margin: 30px;
  }

  .c-carousl {
    display: flex;
    width: max-content;
    animation: c-carousl-animation 30s linear infinite;
  }

  .card {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
    width: 300px;
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  /* Keyframes for card carousel animation */
  @keyframes c-carousl-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .log-container{
    display: flex;
    background-image: linear-gradient(to right,#C193c5,#7BC6CC);
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 10px;
  }
  .logform{
    text-align: center;

  }
  .logform h2{
    font-family: sans-serif;
    font-size: 40px;
  }

  .logform button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 35px;
    width: auto;
    border-radius: 20px;
    background-color: transparent;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    transition: all 1s ;
    cursor: pointer;

  }

  button:hover{
    transform: scale(0.9);
    background-color: black;
    color: white;
    cursor: pointer;
  }
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    /* margin-top: 50px; */
  }

  /* CSS for login page
  .login-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .login-form {
    /* background-color: #f8f8f8; */
   /* background-image: linear-gradient(to right,#C193c5,#7BC6CC);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }

  .login-form input {
    margin-bottom: 10px;
    margin-left: -8px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
  }

  .login-form button {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  } */
  footer {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    /* margin-top: 50px; */
  }
