body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3ecec;
    
  }

  .navbar {
    background-color: #f8f8f8;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }

  .navbar a {
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

  .header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: left;
  }

  /* .header .text-container h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
  } */


  .text-container {
    height: 10vh;
    width: 10vw;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
  }
  
  .text-container h1{
    margin: 0;
    font-size: 43px;
    color: rgba(225,225,225, .01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }
  fieldset{
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 1;
    background-color: #f8f8f8;
   
}
  
  legend{
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
    z-index: 1;
  }
  
  input{
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid grey;
    font-family: sans-serif;
  }
  textarea{
    border-radius: 10px;
    font-family: sans-serif;
    padding: 8px 12px;
  }
  
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select{
    border-radius: 5px;
    padding: 8px 20px;
  }
#submit{
    padding: 12px 60px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
    background-image: linear-gradient(to right,#C193c5,#7BC6CC);
    transition: 1s;
    font-family: sans-serif;
    font-size: 20px;

}
#submit:hover{
    transform: scale(0.9);
    cursor: pointer;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    /* margin-top: 50px; */
  }
  #close{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
  }
 

     